@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
/* desktop */
@media (min-width: 805px) {
    .nav-container {
        list-style-type: none;
        display: flex;
        justify-content: center;
    }

    .secondary-text {
        color: white;
    }

    .main-text {

        color: white;
        font-size: 40px;
    }

    #home {
        background-color: #1c1717;
        padding: 20px;
        border-radius: 100px;
        margin-left: 700px;
        max-height: 25px;
    }

    #button {
        background-color: white;
        color: #262624;
        font-size: 15px;
        border: none;
        border-radius: 30px;
        font-family: "Neuton", sans-serif;
        font-weight: 600;
        margin-top: 25px;
        padding: 8px 23px 8px 23px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1c1717;
        min-width: 100px;
        z-index: 1;
        text-align: center;
        padding: 20px;
        min-height: 50px;
        max-width: 9px;
        border-radius: 100px;
        margin-left: -36px;
        min-width: 65px;
        margin-left: -17px;
        margin-top: 10px;
    }

    .dropdown-content-show {
        display: block !important;
        position: absolute;
        background-color: #1c1717;
        min-width: 100px;
        z-index: 1;
        text-align: center;
        padding: 20px;
        min-height: 50px;
        max-width: 9px;
        border-radius: 100px;
        margin-left: -36px;
        min-width: 65px;
        margin-left: -17px;
        margin-top: 10px;
    }

    .dropdown-content a {
        color: white;
    }

    .main-image {
        width: 957px;
        margin: auto;
        margin-top: auto;
        border-radius: 36px;
        border: #1c1717 solid 8px;
        margin-top: 431px;
        background-image: url('main.png');
    }

    .nav {
        text-decoration: none;
        float: left;
        padding-top: 18px;
    }

    .user {
        text-decoration: none;
        color: white;
        background-color: #1c1717;
        padding: 22px 20px;
        border-radius: 100px;
        margin-top: -20px;
        border: none;
    }

    a {
        text-decoration: none;
    }

    body {
        overflow: hidden;
        font-family: "Neuton", sans-serif;
        font-weight: 600;
        background-color: #262624;
    }
}
/* mobile */
@media (max-width: 800px) {
    .nav-container {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .secondary-text {
        transform: scale(2.2);
        color: white;
        margin-top: 255px;
        max-width: 315px;
    }

    .main-text {
        transform: scale(2);
        color: white;
        font-size: 40px;
        margin-top: 200px;
    }

    #home {
        background-color: #1c1717;
        padding: 20px;
        border-radius: 100px;
        max-height: 25px;
    }

    #button {
        background-color: white;
        color: #262624;
        font-size: 15px;
        border: none;
        border-radius: 30px;
        font-family: "Neuton", sans-serif;
        font-weight: 600;
        margin-top: 344px;
        padding: 8px 23px 8px 23px;
        transform: scale(2.2);
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #1c1717;
        min-width: 100px;
        z-index: 1;
        text-align: center;
        padding: 20px;
        min-height: 50px;
        max-width: 9px;
        border-radius: 100px;
        margin-left: -36px;
        min-width: 65px;
        margin-left: -17px;
        margin-top: 10px;
    }

    .dropdown-content-show {
        display: block !important;
        position: absolute;
        background-color: #1c1717;
        min-width: 100px;
        z-index: 1;
        text-align: center;
        padding: 20px;
        min-height: 50px;
        max-width: 9px;
        border-radius: 100px;
        margin-left: -36px;
        min-width: 65px;
        margin-left: -17px;
        margin-top: 10px;
    }

    .dropdown-content a {
        color: white;
    }

    .main-image {
        width: 847px;
        margin: auto;
        margin-top: auto;
        margin-top: auto;
        border-radius: 36px;
        border: #1c1717 solid 8px;
        margin-top: 763px;
        background-image: url('mobile.png');
        height: 82vh;
        background-repeat: no-repeat;
        background-size: cover;
  }

    .nav {
        text-decoration: none;
        float: left;
        padding-top: 18px;
        transform: scale(1.8);
    }

    .user {
        text-decoration: none;
        color: white;
        background-color: #1c1717;
        padding: 22px 20px;
        border-radius: 100px;
        margin-top: -20px;
        margin-left: 80px;
        border:none;
    }

    a {
        text-decoration: none;
    }

    body {
        font-family: "Neuton", sans-serif;
        font-weight: 600;
        background-color: #262624;
    }
}