/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

body {
    font-family: "Neuton", sans-serif;
    font-weight: 600;
    background-color:#262624;
}
.fa.refresh{
    transform: translate(329px,36px);
  color: white;
  opacity: 0.9;
}
#sessionID {
    font-family: "Neuton", sans-serif;
    font-weight: 600;
    font-size:16px;
    border-radius:5px;
    background-color: #bfbdb3;
    border: none;
    margin-top:20px;
    padding:3px;
}

#button {
    background-color: #bfbdb3;
    color: #262624;
    font-size: 15px;
    border: none;
    border-radius:30px;
    font-family: "Neuton", sans-serif;
    font-weight: 600;
    margin-top:25px;
    padding: 8px 23px 8px 23px;
}
#content {
    background-color: #30302e;
    border-radius: 30px;
    padding-bottom: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 25px;

    color: #eae8df;
}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20%;
    animation: popup 3s forwards;
}

@keyframes popup {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

.loader {
  width: 55px;
  aspect-ratio: 1;
  --g1:conic-gradient(from  90deg at top    3px left  3px,#0000 90deg,#fff 0);
  --g2:conic-gradient(from -90deg at bottom 3px right 3px,#0000 90deg,#fff 0);
  background:
    var(--g1),var(--g1),var(--g1),var(--g1),
    var(--g2),var(--g2),var(--g2),var(--g2);
  background-position: 0 0,100% 0,100% 100%,0 100%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  animation: l11 1.5s infinite;
  position: absolute;
  transform: translate(80vh,45vh);
}
@keyframes l11 {
  0%   {background-size:35px 15px,15px 15px,15px 35px,35px 35px}
  25%  {background-size:35px 35px,15px 35px,15px 15px,35px 15px}
  50%  {background-size:15px 35px,35px 35px,35px 15px,15px 15px}
  75%  {background-size:15px 15px,35px 15px,35px 35px,15px 35px}
  100% {background-size:35px 15px,15px 15px,15px 35px,35px 35px}
}