{% load isDue %}
{% load static %}
<h1 style="color:white;margin-top: 31px;margin-bottom: 76px;text-shadow: 0px 0px 20px black;">Due soon (<7 days)</h1>
<br>
    {% for course in courses %}
            <p style="color:white;">{{ course.name }}
                <button onclick="courseList('assignments{{ course.key }}')" style="background:none; border:none; color:white;">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
            </p>
            <div class="assignmentContainer">
                <div class="assignments" id="assignments{{ course.key }}">
                {% for assignment in assignments %}
                    {% if course.filter == False %}
                        {% if assignment.course_id.key == course.key %}
                            <form>
                            {% csrf_token %}
                            <div style="background:none; border:none;">

                                <div id="assignment-{{ assignment.key }}" class="eachAssignment">
                                        <a href="{{ assignment.url }}"><p class="assi-icon">
                                            {% if assignment.type == "online_quiz" %}📝
                                            {% elif assignment.type == "online_upload" or assignment.type == "external_tool" %}📓
                                            {% elif assignment.type == "discussion_topic" %}💬
                                            {% else %}📝
                                            {% endif %}
                                        </p></a>
                                    <div class="more-menu" id="more-menu-{{ assignment.key }}">
                                        <div class="more-option" onclick="toggleEntry({{ assignment.key }})">
                                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            <p style="font-size: 16px;font-family: Neuton, sans-serif;font-weight: 600;position: fixed;transform: translate(34px, -36px);">More</p>
                                        </div>
                                        <br>
                                        <div class="more-option" >
                                            <i class="fa-solid fa-circle-xmark"></i><p style="font-size: 16px;font-family: Neuton, sans-serif;font-weight: 600;position: fixed;transform: translate(34px, -40px);">Delete</p>
                                        </div>
                                    </div>
                                    <div class="assi-more" onclick="toggleMore({{ assignment.key }})"><i class="fa-solid fa-ellipsis"></i></div>
                                    {% if assignment.due|isDue == 0%}
                                        <p class="isDue" style="background-color:red !important;">DUE!</p>
                                    {% elif assignment.due|isDue < 4 and assignment.due|isDue > 0 %}
                                        <p class="isDue" style="background-color:#6a6a00 !important;">{{ assignment.due|isDue }} Days</p>
                                    {% elif assignment.due|isDue < -1000 %}
                                        <p class="isDue" style="background-color:var(--color-green) !important;">No Due Date :)</p>
                                    {% elif assignment.due|isDue < 1 and assignment.due|isDue != -7360 %}
                                        <p class="isDue" style="background-color:cadetblue !important;">PAST DUE!</p>
                                    {% else %}
                                        <p class="isDue" style="background-color:var(--color-green) !important;">{{ assignment.due|isDue }} Days</p> <!--pipes assignment due date to isDue function template tag-->
                                    {% endif %} <!--pipes assignment due date to isDue function template tag-->
                                <p class="assi-name"
                                hx-post="/accounts/dashboard/completed/"
                                hx-target="#assignment-{{ assignment.key }}"
                                hx-swap="innerHTML"
                                hx-vals='{"assignment_id": "{{ assignment.key }}"}'>{{ assignment.name }}</p>
                                <div
                                    hx-post="/accounts/dashboard/completed/"
                                    hx-target="#assignment-{{ assignment.key }}"
                                    hx-swap="innerHTML"
                                    hx-vals='{"assignment_id": "{{ assignment.key }}"}'
                                    id="checkmark_container" class="checkmark_container"
                                     style="display: {% if assignment.completed %} block
                                            {% else %} none {% endif %} ;">
                                    <p id="checkmark_icon" class="checkmark_container">✅</p>
                                </div>
                                </div>
                            </div>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if course.filter == True %}
                        {% if assignment.course_id.key == course.key and assignment.due < week and assignment.due > today %}
                            <form>
                            {% csrf_token %}
                             <div style="background:none; border:none;">

                                <div id="assignment-{{ assignment.key }}" class="eachAssignment">
                                        <a href="{{ assignment.url }}"><p class="assi-icon">
                                            {% if assignment.type == "online_quiz" %}📝
                                            {% elif assignment.type == "online_upload" or assignment.type == "external_tool" %}📓
                                            {% elif assignment.type == "discussion_topic" %}💬
                                            {% else %}📝
                                            {% endif %}
                                        </p></a>
                                    <div class="more-menu" id="more-menu-{{ assignment.key }}">
                                        <div class="more-option" onclick="toggleEntry({{ assignment.key }})">
                                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                            <p style="font-size: 16px;font-family: Neuton, sans-serif;font-weight: 600;position: fixed;transform: translate(34px, -36px);">More</p>
                                        </div>
                                        <br>
                                        <div class="more-option" >
                                            <i class="fa-solid fa-circle-xmark"></i><p style="font-size: 16px;font-family: Neuton, sans-serif;font-weight: 600;position: fixed;transform: translate(34px, -40px);">Delete</p>
                                        </div>
                                    </div>
                                    <div class="assi-more" onclick="toggleMore({{ assignment.key }})"><i class="fa-solid fa-ellipsis"></i></div>
                                    {% if assignment.due|isDue == 0%}
                                        <p class="isDue" style="background-color:red !important;">DUE!</p>
                                    {% elif assignment.due|isDue < 4 and assignment.due|isDue > 0 %}
                                        <p class="isDue" style="background-color:#6a6a00 !important;">{{ assignment.due|isDue }} Days</p>
                                    {% elif assignment.due|isDue < -1000 %}
                                        <p class="isDue" style="background-color:var(--color-green) !important;">No Due Date :)</p>
                                    {% elif assignment.due|isDue < 1 and assignment.due|isDue != -7360 %}
                                        <p class="isDue" style="background-color:cadetblue !important;">PAST DUE!</p>
                                    {% else %}
                                        <p class="isDue" style="background-color:var(--color-green) !important;">{{ assignment.due|isDue }} Days</p> <!--pipes assignment due date to isDue function template tag-->
                                    {% endif %} <!--pipes assignment due date to isDue function template tag-->
                                <p class="assi-name"
                                hx-post="/accounts/dashboard/completed/"
                                hx-target="#assignment-{{ assignment.key }}"
                                hx-swap="innerHTML"
                                hx-vals='{"assignment_id": "{{ assignment.key }}"}'>{{ assignment.name }}</p>
                                <div
                                    hx-post="/accounts/dashboard/completed/"
                                    hx-target="#assignment-{{ assignment.key }}"
                                    hx-swap="innerHTML"
                                    hx-vals='{"assignment_id": "{{ assignment.key }}"}'
                                    id="checkmark_container" class="checkmark_container"
                                     style="display: {% if assignment.completed %} block
                                            {% else %} none {% endif %} ;">
                                    <p id="checkmark_icon" class="checkmark_container">✅</p>
                                </div>
                                </div>
                            </div>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
