<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="landing.css">
</head>
<body>
    <div id="container">
        <div id="content">
            <h1>Let's get your assignments added</h1>
            <h3 style="padding-top:20px;">What's the base URL of your school's LMS?</h3>
            <input type="text" id="canvasURL" placeholder="i.e. canvas.liberty.edu">
            <input style="background-color: beige; color: black;
                   border-radius:10px; border: black solid 2px;"
                   type="submit" value="Submit">
        </div>
    </div>
</body>
</html>