{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup</title>
    <link rel="stylesheet" href="{% static 'landing.css' %}">
</head>
<body>
    <div id="container">
        <div id="content">
            <h1>Let's get your assignments added:</h1>
            <h3 style="padding-top:20px;">Paste your LMS session ID here:</h3>
            <form action="" method="POST">
                {% csrf_token %}
                <input type="radio" id="canvas" name="LMS" value="canvas"><label for="canvas">Canvas</label><br>
                <input type="radio" id="blackboard" name="LMS" value="blackboard"><label for="blackboard">Blackboard</label><br>
                <input type="text" id="sessionID" placeholder="i.e. 8hf82hf28hf2..." name="session_id">
                <br>
                <input id="button" type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>