{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Setup</title>
    <link rel="stylesheet" href="{% static 'landing.css' %}">
</head>
<body>
    <div id="container">
        <div id="content">
            <h1>Let's get your assignments added:</h1>
            <form action="" method="POST" onsubmit="return load()">
                {% csrf_token %}
                <div id="form">
                    <div id="screen-1">
                        <h3 style="padding-top:20px;">Enter your school's LMS base URL:</h3>
                        <input type="text" id="lmsURL" name="lmsURL" placeholder="https://canvas.liberty.edu"><br>
                        <button type="button" onclick="next()" id="button">Next</button>
                    </div>
                    <div id="screen-2" style="display: none;">
                        <h3 style="padding-top:20px;">Paste your LMS session ID here:</h3><input type="radio" id="canvas" name="LMS" value="canvas"><label for="canvas">Canvas</label><br>
                        <input type="radio" id="blackboard" name="LMS" value="blackboard"><label for="blackboard">Blackboard</label><br>
                        <input type="text" id="sessionID" placeholder="i.e. 8hf82hf28hf2..." name="session_id">
                        <br>
                        <input id="button" type="submit" value="Submit">
                    </div>
                    <input type="hidden" name="LMS" value="none"> <!--used as a fallback for the radio buttons for use when no LMS is provided (i.e. setup without LMS button is clicked)-->
                    <button type="submit" id="skipLMS" style="background-color: #bfbdb373;color: #262624;font-size: 15px;border: none;border-radius: 30px;font-family: &quot;Neuton&quot;, sans-serif;font-weight: 600;margin-top: 25px;padding: 8px 23px 8px 23px;transform: translate(94px, -60px);position: fixed;" >Set Up Without LMS &gt;&gt;</button>
                </div>
            </form>
        </div>
    </div>
    <div class="loader" style="display:none;"></div>
    <script>
        let content = document.getElementById("container");
        let loader = document.getElementById("loader");
        function load() {
            content.style.display = "none";
            loader.style.display = "block";
            return true;
        }
        function next() {
            let firstScreen = document.getElementById("screen-1")
            let secondScreen = document.getElementById("screen-2")
            let skipBtn = document.getElementById("skipLMS")
            firstScreen.style.display = "none";
            skipBtn.style.display = "none";
            secondScreen.style.display = "block";
        }
    </script>
</body>
</html>