{% load static %}
{% load isDue %}
{% load getModuleItems %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8ada3cf5e4.js" crossorigin="anonymous"></script>

</head>
<body>

<div class="entryView" id="entry" style="display:none; width: 100%;height: 100%;position: fixed;z-index: 998;background-color: rgba(0,0,0,0.8);margin-left: -8px;margin-top: -8px;/*! align-content: center; */">
    <div class="addAssignment" style="position: fixed;
  width: 800px;
  background-color: #262624;
  z-index: 999;
  height: 500px;
  text-align: center;
  align-content: center;
  transform: translate(49vh, 28vh);
  border-radius: 49px;">
    <div style="margin-top: -335px;">
    <a href="" id="entryIconA" style="text-decoration: none; position:absolute;"><p class="entryIcon" id="entryIcon" style="">📚</p></a>
    <p class="entryName" id="entryName" style="">Assignment</p>
    <hr style="margin-top: 76px;position: absolute;width: 798px;">
    <p style="color: white;font-size: 22px;margin-left: 72px;margin-top: 107px;width: 274px;position: absolute;text-align: left;" id="" class="">Prerequisites:</p>
    <ul id="modules" style="color: white;position: fixed;transform: translate(47px, 134px);">
    </ul>
    <button onclick="toggleEntry()" style="position:fixed; color:white;background: none;border: none;transform: translate(281px,-21px);"><i class="fa-solid fa-circle-xmark" style="font-size:35px;"></i></button>
    <p class="isDueEntry" id="entryDue" class="isDueEntry" style="">Sometime</p>
    </div>
    </div>
</div>

<div class="addAssignmentContainer" id="addAssign" style="display:none; width: 100%;height: 100%;position: fixed;z-index: 998;background-color: rgba(0,0,0,0.8);margin-left: -8px;margin-top: -8px;/*! align-content: center; */">
    <div class="addAssignment" style="position: fixed;width: 600px;background-color: #262624;z-index: 999;height: 300px;/*! text-align: center; *//*! align-content: center; */transform: translate(56vh, 31vh);border-radius: 49px;">
  <p style="color: white;font-size: 22px;margin-left: 50px;margin-top: 46px;">Add an Assignment:</p>
<button onclick="toggleAdd()" style="position:fixed; color:white;background: none;border: none;transform: translate(508px,-64px);"><i class="fa-solid fa-circle-xmark" style="font-size:35px;"></i></button>
<form action="/accounts/dashboard/addAssignment" method="POST">
  <label for="course-select" style="margin-left: 50px;color: white;font-size: 18px;margin-right: 14px;/*! margin-top: 47px; */">Select a course: </label>
  <select name="course" id="course-select" style="background-color: #e9e9e9;border-radius: 7px;border: none;font-family: &quot;Neuton&quot;, sans-serif;font-size: 14px;">
    {% for course in courses %}
      <option value="{{ course.key }}">{{ course.name }}</option>
    {% endfor %}
  </select>
    <br style="margin-bottom:20px;"><label for="assiName" style="margin-left: 50px;color: white;font-size: 18px;margin-right: 14px;">Name: </label>



<input id="assignmentNameInput" type="text" name="assiName" style="background-color: #e9e9e9;border-radius: 7px;border: none;font-family: &quot;Neuton&quot;, sans-serif;font-size: 14px;min-width:186px;" placeholder="CSIS325: Database Manag....">

    <br style="margin-bottom:20px;"><label for="duedate" style="margin-left: 50px;color: white;font-size: 18px;margin-right: 14px;">Due Date: </label>
    <input type="date" id="assignmentDateInput" name="duedate" style="background-color: #e9e9e9;border-radius: 7px;border: none;font-family: ">
    <br style="margin-bottom:20px;/*! background-color: white; *//*! border: none; */">
  <input type="submit" style="margin-left: 50px;background-color: white;border: none;border-radius: 15px;padding: 10px;font-family: &quot;Neuton&quot;, sans-serif;font-weight: 600;">

    </form>



</div>
</div>
<div class="container">
    <img style="object-fit: cover;max-height: 225px;width: 1437px;position: absolute;transform: translate(283px,-53px);z-index: -999;" src="{{ headerURL }}">
    <button onclick="toggleHeader()" style="background:none;border:none;">
        <i class="fa-solid fa-arrow-up-from-bracket" style="color: white;transform: translate(1324px,127px);font-size: 19px;position: absolute;"></i>
    </button>
    <form action="/accounts/dashboard/changeHeader" method="POST">
        <input type="text" name="url" id="headerInput" style="position: absolute;transform: translate(797px,126px);width: 178px;background-color: #262624;border: 2px solid rgb(56, 56, 55);color: white;border-radius: 10px;padding: 10px;max-height: 3px; display:none;">
    </form>
    <div class="nav">
        {% csrf_token %}
        <button class="add-stuff" onclick="toggleAdd()">
            <i class="fa-solid fa-plus" style="font-size: 25px;"></i>
        </button>
            <button style="background:none; border:none;"
                    onclick="toggleView()"
                    hx-post="/accounts/dashboard/toggleView"
                    hx-swap="none"
                    hx-vals='js:{"isRow" : isRow}'> <!--get isRow variable from JS and POST it-->
                <i
                        class="fa-solid fa-table-list" style="transform: translate(225px,62px); color: white; opacity: 0.9; width:40px;font-size: 15px;"></i>
            </button>
        <form>
            {% csrf_token %}
            <button style="background:none; border:none;"
                    hx-post="/accounts/dashboard/filter"
                    hx-target="#courseAssign"
                    hx-swap="innerHTML">
                <i class="fa-solid fa-filter" style="transform: translate(275px,41px); color: white; opacity: 0.9; width:20px;"></i>
            </button>
        </form>
        <a target="_blank" href="/accounts/refresh"><i class="fa-solid fa-arrows-rotate" style="transform: translate(325px,24px); color: white; opacity: 0.9;"></i></a>
        <input type="text" placeholder="search here..." class="search-stuff" id="search">
        <div id="search-results"></div>
    </div>
    <div class="courseAssign" id="courseAssign">
        {% load static %}
        <h1 style="color:white;margin-top: 31px;margin-bottom: 76px;text-shadow: 0px 0px 20px black;">Classes and Assignments</h1>
        <br>        {% for course in courses %}
            <p style="color:white;">{{ course.name }}
                <button onclick="courseList('assignments{{ course.key }}')" style="background:none; border:none; color:white;">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
            </p>
            <div class="assignmentContainer">
                <div class="assignments" id="assignments{{ course.key }}">
                {% for assignment in assignments %}
                    {% if course.filter == False %}
                        {% if assignment.course_id.key == course.key %}
                            <form>
                            {% csrf_token %}
                            <button style="background:none; border:none;"
                                hx-post="/accounts/dashboard/completed/"
                                hx-target="#assignment-{{ assignment.key }}"
                                hx-swap="innerHTML"
                                hx-vals='{"assignment_id": "{{ assignment.key }}"}'>

                                <div id="assignment-{{ assignment.key }}" class="eachAssignment">
                                    <a href="{{ assignment.url }}"><p class="assi-icon">
                                            {% if assignment.type == "online_quiz" %}📝
                                            {% elif assignment.type == "online_upload" or assignment.type == "external_tool" %}📓
                                            {% elif assignment.type == "discussion_topic" %}💬
                                            {% else %}📝
                                            {% endif %}
                                    </p></a>
                                    {% if assignment.due|isDue == 0%}
                                        <p class="isDue" style="background-color:red !important;">DUE!</p>
                                    {% elif assignment.due|isDue < 4 and assignment.due|isDue > 0 %}
                                        <p class="isDue" style="background-color:#6a6a00 !important;">{{ assignment.due|isDue }} Days</p>
                                    {% elif assignment.due|isDue < -1000%}
                                        <p class="isDue" style="background-color:green !important;">No Due Date :)</p>
                                    {% elif assignment.due|isDue < 1 and assignment.due|isDue != -7360 %}
                                        <p class="isDue" style="background-color:cadetblue !important;">PAST DUE!</p>
                                    {% else %}
                                        <p class="isDue" style="background-color:green !important;">{{ assignment.due|isDue }} Days</p> <!--pipes assignment due date to isDue function template tag-->
                                    {% endif %}
                                <p>{{ assignment.name }}</p>
                                <div id="checkmark_container" class="checkmark_container"
                                     style="display: {% if assignment.completed %} block
                                            {% else %} none {% endif %} ;">
                                    <p id="checkmark_icon" class="checkmark_icon">✅</p>
                                </div>
                                </div>
                            </button>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if course.filter == True %}
                        {% if assignment.course_id.key == course.key and assignment.due < week and assignment.due > today %}
                            <form>
                            {% csrf_token %}
                            <button style="background:none; border:none;"
                                hx-post="/accounts/dashboard/completed/"
                                hx-target="#assignment-{{ assignment.key }}"
                                hx-swap="innerHTML"
                                hx-vals='{"assignment_id": "{{ assignment.key }}"}'>

                                <div id="assignment-{{ assignment.key }}" class="eachAssignment">
                                        <a href="{{ assignment.url }}"><p class="assi-icon">
                                            {% if assignment.type == "online_quiz" %}📝
                                            {% elif assignment.type == "online_upload" or assignment.type == "external_tool" %}📓
                                            {% elif assignment.type == "discussion_topic" %}💬
                                            {% else %}📝
                                            {% endif %}
                                        </p></a>
                                    {% if assignment.due|isDue == 0%}
                                        <p class="isDue" style="background-color:red !important;">DUE!</p>
                                    {% elif assignment.due|isDue < 4 and assignment.due|isDue > 0 %}
                                        <p class="isDue" style="background-color:#6a6a00 !important;">{{ assignment.due|isDue }} Days</p>
                                    {% elif assignment.due|isDue < -1000 %}
                                        <p class="isDue" style="background-color:green !important;">No Due Date :)</p>
                                    {% elif assignment.due|isDue < 1 and assignment.due|isDue != -7360 %}
                                        <p class="isDue" style="background-color:cadetblue !important;">PAST DUE!</p>
                                    {% else %}
                                        <p class="isDue" style="background-color:green !important;">{{ assignment.due|isDue }} Days</p> <!--pipes assignment due date to isDue function template tag-->
                                    {% endif %} <!--pipes assignment due date to isDue function template tag-->
                                <p>{{ assignment.name }}</p>
                                <div id="checkmark_container" class="checkmark_container"
                                     style="display: {% if assignment.completed %} block
                                            {% else %} none {% endif %} ;">
                                    <p id="checkmark_icon" class="checkmark_container">✅</p>
                                </div>
                                </div>
                            </button>
                            </form>

                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    //search logic (stores assignment names from database into local js array, have no idea if this is efficient)
    const assignments = [];
    const moduleItems = {};
    {% for assignment in assignments %}
        assignments.push({
        name: "{{ assignment.name }}",
        key: parseInt("{{ assignment.key }}"),
        due: "{{ assignment.due|isDue }}",
        link: "{{ assignment.url }}"
    });
        moduleItems[parseInt("{{ assignment.key }}")] = [];
        console.log("{{ assignment.key }}")
        {% for item in assignment.key|getModuleItems %}
            moduleItems["{{ assignment.key }}"].push({
                name: "{{ item.name }}",
                link: "{{ item.url }}",
                type: "{{ item.type }}"
    });
        {% endfor %}
    {% endfor %}
    const search = document.getElementById("search");
    const sResults = document.getElementById("search-results");

    search.addEventListener("input", function () {
       const cInput = search.value.toLowerCase().trim();
       sResults.innerHTML = "";

       if (cInput === "") return;

       const qResults = assignments.filter(
           assignment => assignment.name.toLowerCase().includes(cInput)
       );

       if (qResults.length === 0) {
           sResults.innerHTML = "<p>nothing matches :)</p>";
           return;
       }
    const entryPName = document.getElementById('entryName');
    const entryPDue = document.getElementById('entryDue');
    const entryAIcon = document.getElementById('entryIconA');
    const modules = document.getElementById('modules');

       qResults.forEach(assignment => {
           const container = document.createElement("div");
           container.id = assignment.key;
           container.classList.add("result-entry")
           container.textContent = assignment.name;
           // add an event listener on each result, so if clicked, it can open up the fly-out
           container.addEventListener('click', function () {
            entryPName.innerText = assignment.name;
            if (assignment.due === 0) {
                entryPDue.innerText = "DUE!";
                entryPDue.classList.add("duenow");
            } else if (assignment.due < 4 && assignment.due > 0) {
                entryPDue.innerText = assignment.due.toString() + " Days";
                entryPDue.classList.add("duesoon");
            } else if (assignment.due < 1 && assignment.due !== -7360) {
                entryPDue.innerText = "PAST DUE!";
                entryPDue.classList.add("overdue");
            } else {
               entryPDue.innerText = assignment.due.toString() + " Days";
               entryPDue.classList.add("notdue");
            }
            entryAIcon.setAttribute("href", assignment.link);
            // display module items (prerequisites)
               console.log(assignment.key)
               modules.innerHTML = "";
               for (const module of moduleItems[assignment.key]) {
                   if (module.type === "Page" || module.type === "ExternalTool" || module.type === "File") {
                       const linkItem = document.createElement("a");
                       const listItem = document.createElement("li");
                       listItem.classList.add("modules");
                       linkItem.classList.add("modules-link");
                       linkItem.setAttribute("href", module.link);
                       listItem.innerText = module.name;
                       linkItem.appendChild(listItem);
                       modules.appendChild(linkItem);
                   }
               }
            toggleEntry()
           })
           sResults.appendChild(container);
       })
    });
    // each entry logic for showing popup
    const resultEntry = document.getElementsByClassName('result-entry');
    //toggle for assignment fly-out
    function toggleEntry() {
        const win = document.getElementById("entry");
        win.classList.toggle("show");
    }

    //header logic
    function toggleHeader() {
        const input = document.getElementById("headerInput");
        input.classList.toggle("show");
    }
    function toggleAdd() {
        const win = document.getElementById("addAssign");
        win.classList.toggle("show");
    }
    // course hide logic
    let showAssignments = true;

    function courseList(course) {
        showAssignments = !showAssignments;
        if (showAssignments === false) {
           document.getElementById(course).style.display = "none";
        } else {
           document.getElementById(course).style.display = "block";
        }

    }
    //row view logic (im sure this is overcomplicated)
    let isRow = false;
    function toggleView() {
        isRow = !isRow;
        const due = document.querySelectorAll(".isDue");
        const assignments = document.querySelectorAll(".assignments");
        const cards = document.querySelectorAll(".eachAssignment");
        const icons = document.querySelectorAll(".assi-icon");
        const checkmarks = document.querySelectorAll(".checkmark_icon");
        const checkmarkContainers = document.querySelectorAll(".checkmark_container");
        if (isRow) {
            assignments.forEach(assignment =>
                assignment.style.gridTemplateColumns = "repeat(1, 1fr)");
        } else {
            assignments.forEach(assignment =>
                assignment.style.gridTemplateColumns = "repeat(3, 1fr)");
        }
        icons.forEach(icon => icon.classList.toggle("row"));
        cards.forEach(card => card.classList.toggle("row"));
        checkmarks.forEach(checkmark => checkmark.classList.toggle("row"));
        checkmarkContainers.forEach(checkmarkContainer =>
            checkmarkContainer.classList.toggle("row"));
        due.forEach(isDue => isDue.classList.toggle("row"))
    }
</script>
</body>
</html>