{% load static %}
{% load isDue %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8ada3cf5e4.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="nav">
        {% csrf_token %}
        <button class="add-stuff">
            <i class="fa-solid fa-plus" style="font-size: 25px;"></i>
        </button>
            <button style="background:none; border:none;"
                    onclick="toggleView()"
                    hx-post="/accounts/dashboard/toggleView"
                    hx-swap="none"
                    hx-vals='js:{"isRow" : isRow}'> <!--get isRow variable from JS and POST it-->
                <i class="fa-solid fa-table-list" style="transform: translate(225px,62px); color: white; opacity: 0.9; width:40px;font-size: 15px;"></i>
            </button>
        <form>
            {% csrf_token %}
            <button style="background:none; border:none;"
                    hx-post="/accounts/dashboard/filter"
                    hx-target="#courseAssign"
                    hx-swap="innerHTML">
                <i class="fa-solid fa-filter" style="transform: translate(275px,41px); color: white; opacity: 0.9; width:20px;"></i>
            </button>
        </form>
        <a target="_blank" href="/accounts/refresh"><i class="fa-solid fa-arrows-rotate" style="transform: translate(325px,24px); color: white; opacity: 0.9;"></i></a>
        <input type="text" placeholder="search here..." class="search-stuff">
    </div>
    <div class="courseAssign" id="courseAssign">
        {% load static %}
        <h1 style="color:white;">Classes and Assignments</h1>
        <br>
        {% for course in courses %}
            <p style="color:white;">{{ course.name }}
                <button onclick="courseList('assignments{{ course.key }}')" style="background:none; border:none; color:white;">
                    <i class="fa-solid fa-caret-down"></i>
                </button>
            </p>
            <div class="assignmentContainer">
                <div class="assignments" id="assignments{{ course.key }}">
                {% for assignment in assignments %}
                    {% if course.filter == False %}
                        {% if assignment.course_id.key == course.key %}
                            <form>
                            {% csrf_token %}
                            <button style="background:none; border:none;"
                                hx-post="/accounts/dashboard/completed/"
                                hx-target="#assignment-{{ assignment.key }}"
                                hx-swap="innerHTML"
                                hx-vals='{"assignment_id": "{{ assignment.key }}"}'>

                                <div id="assignment-{{ assignment.key }}" class="eachAssignment">
                                    <a href="{{ assignment.url }}"><p class="assi-icon">
                                            {% if assignment.type == "online_quiz" %}📝
                                            {% elif assignment.type == "online_upload" or assignment.type == "external_tool" %}📓
                                            {% elif assignment.type == "discussion_topic" %}💬
                                            {% endif %}
                                    </p></a>
                                    {% if assignment.due|isDue == 0%}
                                        <p class="isDue" style="background-color:red !important;">DUE!</p>
                                    {% elif assignment.due|isDue < 4 and assignment.due|isDue > 0 %}
                                        <p class="isDue" style="background-color:#6a6a00 !important;">{{ assignment.due|isDue }} Days</p>
                                    {% elif assignment.due|isDue < -1000%}
                                        <p class="isDue" style="background-color:green !important;">No Due Date :)</p>
                                    {% elif assignment.due|isDue < 1 and assignment.due|isDue != -7360 %}
                                        <p class="isDue" style="background-color:cadetblue !important;">PAST DUE!</p>
                                    {% else %}
                                        <p class="isDue" style="background-color:green !important;">{{ assignment.due|isDue }} Days</p> <!--pipes assignment due date to isDue function template tag-->
                                    {% endif %}
                                <p>{{ assignment.name }}</p>
                                <div id="checkmark_container" class="checkmark_container"
                                     style="display: {% if assignment.completed %} block
                                            {% else %} none {% endif %} ;">
                                    <p id="checkmark_icon" class="checkmark_icon">✅</p>
                                </div>
                                </div>
                            </button>
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if course.filter == True %}
                        {% if assignment.course_id.key == course.key and assignment.due < week and assignment.due > today %}
                            <form>
                            {% csrf_token %}
                            <button style="background:none; border:none;"
                                hx-post="/accounts/dashboard/completed/"
                                hx-target="#assignment-{{ assignment.key }}"
                                hx-swap="innerHTML"
                                hx-vals='{"assignment_id": "{{ assignment.key }}"}'>

                                <div id="assignment-{{ assignment.key }}" class="eachAssignment">
                                        <a href="{{ assignment.url }}"><p class="assi-icon">
                                            {% if assignment.type == "online_quiz" %}📝
                                            {% elif assignment.type == "online_upload" or assignment.type == "external_tool" %}📓
                                            {% elif assignment.type == "discussion_topic" %}💬
                                            {% endif %}
                                        </p></a>
                                    {% if assignment.due|isDue == 0%}
                                        <p class="isDue" style="background-color:red !important;">DUE!</p>
                                    {% elif assignment.due|isDue < 4 and assignment.due|isDue > 0 %}
                                        <p class="isDue" style="background-color:#6a6a00 !important;">{{ assignment.due|isDue }} Days</p>
                                    {% elif assignment.due|isDue < -1000 %}
                                        <p class="isDue" style="background-color:green !important;">No Due Date :)</p>
                                    {% elif assignment.due|isDue < 1 and assignment.due|isDue != -7360 %}
                                        <p class="isDue" style="background-color:cadetblue !important;">PAST DUE!</p>
                                    {% else %}
                                        <p class="isDue" style="background-color:green !important;">{{ assignment.due|isDue }} Days</p> <!--pipes assignment due date to isDue function template tag-->
                                    {% endif %} <!--pipes assignment due date to isDue function template tag-->
                                <p>{{ assignment.name }}</p>
                                <div id="checkmark_container" class="checkmark_container"
                                     style="display: {% if assignment.completed %} block
                                            {% else %} none {% endif %} ;">
                                    <p id="checkmark_icon" class="checkmark_container">✅</p>
                                </div>
                                </div>
                            </button>
                            </form>

                        {% endif %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script>
    let showAssignments = true;

    function courseList(course) {
        showAssignments = !showAssignments;
        if (showAssignments === false) {
           document.getElementById(course).style.display = "none";
        } else {
           document.getElementById(course).style.display = "block";
        }

    }
    let isRow = false;
    function toggleView() {
        isRow = !isRow;
        const due = document.querySelectorAll(".isDue");
        const assignments = document.querySelectorAll(".assignments");
        const cards = document.querySelectorAll(".eachAssignment");
        const icons = document.querySelectorAll(".assi-icon");
        const checkmarks = document.querySelectorAll(".checkmark_icon");
        const checkmarkContainers = document.querySelectorAll(".checkmark_container");
        if (isRow) {
            assignments.forEach(assignment =>
                assignment.style.gridTemplateColumns = "repeat(1, 1fr)");
        } else {
            assignments.forEach(assignment =>
                assignment.style.gridTemplateColumns = "repeat(3, 1fr)");
        }
        icons.forEach(icon => icon.classList.toggle("row"));
        cards.forEach(card => card.classList.toggle("row"));
        checkmarks.forEach(checkmark => checkmark.classList.toggle("row"));
        checkmarkContainers.forEach(checkmarkContainer =>
            checkmarkContainer.classList.toggle("row"));
        due.forEach(isDue => isDue.classList.toggle("row"))
    }
</script>
</body>
</html>